<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= "#{@content[:first_name]} #{@content[:last_name]}" %></h1>
    <p>email: <%= @content[:email] %></p>
    <span>mensaje: <%= @content[:message] %></span>
  </body>
</html>
